.formulario{
    width: 450px;
    margin: auto;
    background-color: chocolate;
    padding: 10px;
    color: black;
    font-size: 1.7rem;
    border-radius: 15px;
    justify-content: center;
    align-items: center;

    &__button{
        background-color: saddlebrown;
        color: black;
        font-size: 1.9rem;
    }
}
.productos{
    background-color: coral;
    
    &__btn{
        font-size: 1.5rem;
        padding: 7px 10px;
        border: 3px solid coral;
        border-radius: 15px;
    }    
    }  

